{%extends 'base.html'%}
{% block content %}
<main class="container child:mt-8">   
    <section class="container w-[75%] rounded-lg bg-white dark:bg-zinc-700 shadow p-5">
       
    <div class="alert alert-info">
        <p>
            اگر حسابی با ایمیلی که وارد کرده‌اید وجود داشته باشد، دستورالعمل‌های تنظیم رمز عبور را برای شما ایمیل کرده‌ایم. شما باید به زودی آنها را دریافت کنید.

        </p>
 
        <p>
            اگر ایمیلی دریافت نکردید، لطفاً مطمئن شوید که آدرسی را که با آن ثبت نام کرده اید وارد کرده اید و پوشه هرزنامه خود را بررسی کنید.
        </p>

        </p>
    </div>
    </section>
    </main>
{% endblock content %}


