{%extends 'base.html'%}
{% load i18n static %}

{% block content %}

{% if validlink %}


<main class="container child:mt-8">   
    <section class="container w-[75%] rounded-lg bg-white dark:bg-zinc-700 shadow p-5">
       
        <form  method="post" class="flex flex-col lg:flex-row items-start gap-10">
            {% csrf_token %}
            <div class="lg:w-full flex flex-col w-full">
                <p class="font-DanaMedium text-lg mb-2 login-text-center"> تغییر رمز عبور</p>
                <input name="new_password1" id="password-field" type="password" class="tailwind-input" placeholder="پسورد"
                required>
                <input name="new_password2" id="password-field" type="password" class="tailwind-input" placeholder="تایید رمز عبور"
                    required>
                           
                <button class="rounded-lg p-2 bg-green-500 hover:bg-green-600 text-white transition-all">
                    تغییر رمز عبور
                </button>
                
                 
            </form>
    </section>
</main>
{% else %}
<p>{% translate "پیوند بازنشانی رمز عبور نامعتبر بود، احتمالاً به این دلیل که قبلاً استفاده شده است. لطفاً یک بازنشانی رمز عبور جدید درخواست کنید." %}</p>

            

{% endif %}
{% endblock content %}



