{%extends 'base.html'%}
{%block content %}
<main class="container child:mt-8">   
    <section class="container w-[75%] rounded-lg bg-white dark:bg-zinc-700 shadow p-5">
       
        <form  method="post" class="flex flex-col lg:flex-row items-start gap-10">
            {% csrf_token %}
            <div class="lg:w-full flex flex-col w-full">
                <p class="font-DanaMedium text-lg mb-2 login-text-center"> بازیابی رمز ورود</p>
                <input type="email" name="email" autocomplete="email"  maxlength="254" class="tailwind-input" required="" 
                placeholder="ایمیل">  
                           
                <button class="rounded-lg p-2 bg-green-500 hover:bg-green-600 text-white transition-all">بازیابی</button>
                
                 
            </form>
    </section>
</main>

{% endblock%}
